@font-face {
  font-weight: 400;
  font-family: "MyriadPro";
  font-style: normal;
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff.woff") format("woff");
}
body {
    font-family: "MyriadPro";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
/*****************
*****Header********
*****************/
.page-header {
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    height: 320px;
    background-image: url(../img/heder-bacground-320px.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 0.1px;
}
.page-header__logo-wrap {
    width: 77px;
    height: 87px;
    margin-left: 22px;
    margin-top: 25px;
}
.page-header__logo-link {
    display: block;    
}
.page-header__our-contacts {
    position: absolute;
    display: block;
    width: 135px;
    height: 25px;
    line-height: 26px;
    top: 25px;
    right: 22px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.page-header__our-contacts:hover {
    color: #000;
    background-color: #f8f8f8
}
.page-header__titel {
    width: 250px;
    text-align: right;
    position: absolute;
    top: 190px;
    right: 26px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

@media (min-width: 576px) {
    .page-header {
        min-width: 576px;
        height: 280px;
        background-image: url(../img/heder-bacground-576px.jpg);
    }
    .page-header__logo-wrap {
        margin-left: 50px;
    }
    .page-header__our-contacts {
        width: 135px;
        height: 25px;
        line-height: 26px;
        top: 25px;
        right: 50px;
    }
    .page-header__titel {
        width: 355px;
        top: 150px;
        right: 50px;
        font-size: 36px;
        line-height: 36px;
    }
}
@media (min-width: 768px) {
    .page-header {
        width: 768px;
        height: 400px;
        background-image: url(../img/heder-bacground-768px.jpg);
    }
    .page-header__our-contacts {
        width: 170px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }
    .page-header__titel {
        width: 480px;
        top: 205px;
        right: 50px;
        font-size: 48px;
        line-height: 60px;
    }
}
@media (min-width: 992px) {
    .page-header {
        width: 992px;
        height: 350px;
        background-image: url(../img/heder-bacground-992px.jpg);
    }
    .page-header__our-contacts {
        width: 170px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }
    .page-header__titel {
        top: 190px;
    }
}
@media (min-width: 1200px) {
    .page-header {
        width: 1200px;
        height: 350px;
        background-image: url(../img/heder-bacground-1200px.jpg);
    }
    .page-header__titel {
        width: 850px;
        top: 210px;
    }
    .page-header__titel > br {
        display: none;
    }
}