<section class="payment-delivery">
    <div class="payment-delivery__wrap">
        <div class="payment-delivery__button">Информация о доставке</div>
        <div class="payment-delivery__text-wrap">
            <p class="payment-delivery__paragraph">Доставка осуществляется бесплатно на заказы от 30 000 руб. Стоимость доставки заказов на меньшую сумму составляет 300 руб. Товар может быть доставлен курьером по указанному Вами адресу, либо в ближайший пункт самовывоза. Доставка в регионы осуществляется курьерской службой СДЭК. Доставка в Москву обычно занимает 1-2 дня.</p>
        </div>
    </div>
</section>