{% load static %}
<footer class="page-footer">
    <div class="footer-insta">
        <a href="https://www.instagram.com/qualitas_leather/" class="footer-insta__text-block">
            <span class="footer-insta__img-insta"></span>
            <span class="footer-insta__big-text">Instagram:</span> <span class="footer-insta__small-text">#qualitas_leather</span>
        </a>
    </div>
    <div class="footer">
        <a href="contacts/" class="button-our-contacts footer__our-contacts">Наши контакты</a>
        <p class="footer__designedby">© 2020 QualitasLeather. All rights reserved.<br> Designed by Daniil Misyurin</p>
    </div>
</footer>