{% load static %}
<nav class="main-nav">
    <div class="main-nav__title">
        <button class="burger-toggle burger-toggle--none"></button>
        <span class="main-nav__title-text">Меню</span>
    </div>
    <ul class="main-nav__list main-nav__list--closed main-nav__list--nojs">
        <li class="main-nav__item">
            <a class="main-nav__link" href="/category/">Ремни</a>
        </li>
        <li class="main-nav__item">
            <a class="main-nav__link" href="/category/">Портмоне</a>
        </li>
        <li class="main-nav__item">
            <a class="main-nav__link" href="/category/">Ручные сумки</a>
        </li>
        <li class="main-nav__item">
            <a class="main-nav__link" href="/category/">Обложки</a>
        </li>
        <li class="main-nav__item">
            <a class="main-nav__link" href="/category/">Чехлы для гаджетов</a>
        </li>
        <li class="main-nav__item">
            <a class="main-nav__link" href="/category/">Аксессуары</a>
        </li>
        <li class="main-nav__item">
            <a class="main-nav__link" href="/category/">Ремешки для часов</a>
        </li>
        <li class="main-nav__item">
            <a class="main-nav__link" href="/category/">Чехлы для канцтоваров</a>
        </li>
    </ul>
</nav>