<div id="modal-window" class="modal-window">
    <div class="modal-window__content">
        <h1 class="main-h1-title modal-window__title">Заполните форму</h1>
        <p class="modal-window__text">Укажите детали заказа и мы свяжемся с вами в ближайшее время</p>
        <form action="/makeorder/" method="POST" class="modal-window__form">
            {% csrf_token %}
            <ul class="modal-window__list">
                <li class="modal-window__list-element">
                    <span class="modal-window__input_title">Изделие:</span>
                    <span class="modal-window__input_title">{{prodItem.product_name}}</span>

                    <input class="display-none" type="text" value="{{request.get_full_path}}" name="get-full-path">
                    <input class="display-none" type="text" value="{{prodItem.id}}" name="product-id">
                    <input class="display-none" type="text" value="{{prodItem.product_name}}" name="product-name">
                    <img src="{{prodImages.0.img_small.url}}" alt="маленькое изображение черной кожанной сумки">
                </li>
                <li class="modal-window__list-element">
                    <label class="modal-window__input_title" for="input-name">Как вас зовут:</label>
                    <input class="modal-window__input" type="text" placeholder="Имя" id="input-name" name="customer-name">
                </li>
                <li class="modal-window__list-element">
                    <label class="modal-window__input_title" for="input-telephone">Контактный телефон:</label>
                    <input class="modal-window__input type="text" placeholder="Номер телефона" id="input-telephone" name="customer-telephone">
                </li>
                <li class="modal-window__list-element">
                    <label class="modal-window__input_title" for="input-commet">Комментарий к заказу:</label>
                    <textarea class="modal-window__input type="text" placeholder="Комментарий" id="input-commet" name="customer-commet"></textarea>
                </li>
                <li class="modal-window__list-element">
                    <input class="main-button main-button__submit-modal" type="submit" value="Отправить">
                </li>
            </ul>
        </form>
    </div>
    <div class="modal-window__order-true display-none">
        <br>
        Ваш заказ оформлен, мы свяжемся с Вами в ближайшее время. <br>
        Вы также можете написать нам в социальных сетях.
    </div>
    <div class="modal-window__order-false display-none">
        <br>
        Приносим извинения за временные неполадки. <br> 
        Попробуйте оформить заказ подзднее или свяжитесь с нами в социальных сетях.
    </div>
</div> 