{% load static %}
<nav class="main-nav">
    <div class="main-nav__title">
        <button class="burger-toggle burger-toggle--none"></button>
        <span class="main-nav__title-text">Меню</span>
    </div>
    <ul class="main-nav__list main-nav__list--closed main-nav__list--nojs">
        {% for productCategory in productCategoryList %}
        <li class="main-nav__item">
            <a class="main-nav__link" href="/category/{{productCategory.id}}">{{productCategory.product_category_name}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>