<section class="payment-delivery">
    <div class="payment-delivery__wrap">
        <div class="payment-delivery__button">Способы оплаты</div>
        <div class="payment-delivery__text-wrap">
            <ol class="payment-delivery__list">
                <li class="payment-delivery__item">Оплата через сервис PayPal. Для оплаты запрашивайте ссылку в WhatsApp.</li>
                <li class="payment-delivery__item">Наличными в местерской или переводом на карту Сбербанка.</li>
                <li class="payment-delivery__item">Переводом на расчетный счет (для юридических лиц и ИП).</li>
                <li class="payment-delivery__item">Наличными или банковской картой курьеру службы доставки при получении. Данный способ оплаты не распространяется на изделия с дополнительной кастомизацией: нанесение монограммы, лазерная гравировка, внесение конструктивных изменений по желанию заказчика</li>
            </ol>
        </div>
    </div>
</section>