<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/fancybox4.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/fancybox.umd.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body class="page">
    <div class=page-wrapper>
        {% include 'includes/header.html' %}
        <main class="page-main">
            {% include 'includes/nav-left.html' %}
            {% block mainContent %}
            {% endblock %}
        </main>
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>    