{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{prodCategory}}
{% endblock %}
{% block mainContent %}
    <div class="main-content">
        <section class="product-grid">
            <h1 class="main-h1-title product-grid__title">{{prodCategory}}</h1>
            <ul class="product-grid__list">
                {% for prodItem in prodItemsByCategory %}
                <li class="product">
                    <a href="/product/{{prodItem.id}}" class="product__link">
                        <div class="product__image-wraper">
                            <img src="{{prodItem.product_img_main.url}}" alt="{{prodItem.product_img_main_alt}}" class="product__img">
                        </div>
                        <div class="product__description-wrap">
                            <p class="product__title">{{prodItem.product_name}}</p>
                            <p class="product__price">{{prodItem.product_price}} &#8381;</p>
                        </div>
                        <span class="triangle-field-new"></span>
                        <span class="triangle-text-new">new</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
