{% extends 'base.html' %}
{% load static %}
{% block mainContent %}
<div class="main-content">
    <section class="product-grid">
        <h1 class="main-h1-title product-grid__title">Популярные товары</h1>
        <ul class="product-grid__list">
            {% for prodItem in prodItemsInGroups %}
                {% if prodItem.product_group.id == 4 %}
                    <li class="product">
                        <a href="/product/{{prodItem.id}}" class="product__link">
                            <div class="product__image-wraper">
                                <img src="{{prodItem.product_img_main.url}}" alt="{{prodItem.product_img_main_alt}}" class="product__img">
                            </div>
                            <div class="product__description-wrap">
                                <p class="product__title">{{prodItem.product_name}}</p>
                                <p class="product__price">{{prodItem.product_price}} &#8381;</p>
                            </div>
                            <span class="triangle-field-hot"></span>
                            <span class="triangle-text-hot">hot</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    <section class="product-grid">
        <h1 class="main-h1-title product-grid__title">Товары со скидкой</h1>
        <ul class="product-grid__list">
            {% for prodItem in prodItemsInGroups %}
                {% if prodItem.product_group.id == 2 %}
                    <li class="product">
                        <a href="/product/{{prodItem.id}}" class="product__link">
                            <div class="product__image-wraper">
                                <img src="{{prodItem.product_img_main.url}}" alt="{{prodItem.product_img_main_alt}}" class="product__img">
                            </div>
                            <div class="product__description-wrap">
                                <p class="product__title">{{prodItem.product_name}}</p>
                                <p class="product__price">{{prodItem.product_price}} &#8381;</p>
                                <p class="product__sale-price">{{prodItem.product_old_price}} &#8381;</p>
                            </div>
                            <span class="triangle-field-sale"></span>
                            <span class="triangle-text-sale">sale</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    <section class="product-grid">
        <h1 class="main-h1-title product-grid__title">Новые товары</h1>
        <ul class="product-grid__list">
            {% for prodItem in prodItemsInGroups %}
                {% if prodItem.product_group.id == 3 %}
                    <li class="product">
                        <a href="/product/{{prodItem.id}}" class="product__link">
                            <div class="product__image-wraper">
                                <img src="{{prodItem.product_img_main.url}}" alt="{{prodItem.product_img_main_alt}}" class="product__img">
                            </div>
                            <div class="product__description-wrap">
                                <p class="product__title">{{prodItem.product_name}}</p>
                                <p class="product__price">{{prodItem.product_price}} &#8381;</p>
                            </div>
                            <span class="triangle-field-new"></span>
                            <span class="triangle-text-new">new</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>

</div>
{% endblock %}