{% extends 'base.html' %}
{% load static %}
{% block title %}
    qualitas.store - {{prodItem.product_name}}
{% endblock %}
{% block mainContent %}
    <div class="main-content">
        <section class="goods">
            <h1 class="goods__title goods__title--visually-hidden">{{prodItem.product_name}}</h1>
            <div class="goods-image">
                <div id="mainCarousel" class="carousel">
                    {% for image in prodImages %}
                        <div
                            class="carousel__slide"
                            data-src="{{image.img_big.url}}"
                            data-fancybox="gallery"
                        >
                            <img src="{{image.img_medium.url}}" alt="{{image.alt_medium}}"/>
                        </div>
                    {% endfor %}
                </div>
                <div id="thumbCarousel" class="carousel">
                    {% for image in prodImages %}
                        <div class="carousel__slide">
                            <img class="panzoom__content" src="{{image.img_small.url}}" alt="{{image.alt_small}}"/>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="goods-specifications">
                <h1 class="goods__title goods__title--show-hidden-title" style="display: none;">{{prodItem.product_name}}</h1>
                <span class="goods-specifications__price">Цена: {{prodItem.product_price}} &#8381;</span>
                <div class="goods-specifications__split-line"></div>
                <ul class="goods-specifications__property-list">
                    <li class="goods-specifications__item goods-specifications__item--list">Цвет: {{prodItem.product_color.color}}</li>
                    <li class="goods-specifications__item goods-specifications__item--list">Материал: {{prodItem.product_material.material}}</li>
                    {% if prodItem.product_fitting.fitting %}
                        <li class="goods-specifications__item goods-specifications__item--list">Фурнитура: {{prodItem.product_fitting.fitting}}</li>
                    {% endif %}
                    <li class="goods-specifications__item goods-specifications__item--list">Размер: {{prodItem.product_size}}</li>
                    <li class="goods-specifications__item goods-specifications__item--list">Срок изготоления: {{prodItem.product_make_time.make_time}}</li>
                </ul>
                <div class="goods-specifications__split-line"></div>
                <div class="goods-specifications__description">
                    <span class="goods-specifications__item">Описание товара:</span>
                    <p class="goods-specifications__description-text">{{prodItem.product_description}}</p>
                </div>
                <div class="goods-specifications__split-line"></div>
                <div class="goods-specifications__options">
                    <span class="goods-specifications__item">Дополнительные опции (цена обговаривается):</span>
                    <ul class="goods-specifications__options-list">
                        <li class="goods-specifications__options-item">- нанесение изображения лазером (гравировка).</li>
                        <li class="goods-specifications__options-item">- нанесение изображения ультрафиолетовой краской (исполнение в цвете)</li>
                        <li class="goods-specifications__options-item">- нанесение изображения методом горячего тиснения(клише изготавливается отдельно) </li>
                    </ul>
                </div>
                <div class="goods-specifications__split-line"></div>
                <button data-fancybox="" data-src="#modal-window" class="main-button">Оформить заказ</button>
            </div>
            {% include 'includes/modal-window.html' %}
        </section>     
        {% include 'includes/payment.html' %}
        {% include 'includes/delevery.html' %}
    </div>
{% endblock %}

            